name: "Terraform Plan"

on:
  push:
    branches:
      - main

env:
  SSH_PRIVATE_KEY_PATH: "$HOME/.ssh/terraform_rsa"

jobs:
  terraform:
    name: "Terraform Plan"
    runs-on: ubuntu-latest
    environment: dev
    permissions:
      contents: read
      pull-requests: write
    steps:
      - name: Checkout
        uses: actions/checkout@v3

      - name: Setup Terraform
        uses: hashicorp/setup-terraform@v2
        with:
          terraform_wrapper: false

      - name: Terraform Init
        run: terraform init -input=false
        env:
          PG_CONN_STR: ${{ secrets.PG_CONN_STR }}

      - name: Install SSH key
        uses: shimataro/ssh-key-action@v2
        with:
          key: ${{ secrets.SSH_KEY }}
          name: terraform_rsa # optional
          known_hosts: unnecessary 

      - name: Terraform Plan
        run: |
          terraform plan -input=false -out=tfplan
        env:
          PG_CONN_STR: ${{ secrets.PG_CONN_STR }}
          SSH_PRIVATE_KEY_PATH: ${{ env.SSH_PRIVATE_KEY_PATH }}
          TF_VAR_cluster: ${{ vars.CLUSTER }}
          TF_VAR_host_name_base: ${{ vars.HOST_NAME_BASE }}
          TF_VAR_cf_dns_api_token: ${{ secrets.CF_DNS_API_TOKEN }}
          TF_VAR_ssh_key: ${{ env.SSH_PRIVATE_KEY_PATH }}
      - name: Terraform Apply
        run: |
          terraform apply -input=false tfplan
        env:
          PG_CONN_STR: ${{ secrets.PG_CONN_STR }}
          SSH_PRIVATE_KEY_PATH: ${{ env.SSH_PRIVATE_KEY_PATH }}
          TF_VAR_cluster: ${{ vars.CLUSTER }}
          TF_VAR_host_name_base: ${{ vars.HOST_NAME_BASE }}
          TF_VAR_cf_dns_api_token: ${{ secrets.CF_DNS_API_TOKEN }}
          TF_VAR_ssh_key: ${{ env.SSH_PRIVATE_KEY_PATH }}